@chartset "utf-8";

.paginate.prev , .paginate.first {
	padding-right: 0.5em;
}

.paginate.next , .paginate.last {
	padding-left: 0.5em;
}

.paginate.first , .paginate.last {
	letter-spacing: -0.25em;
}

.paginate.first.hidden , .paginate.prev.hidden , .paginate.next.hidden , .paginate.last.hidden {
	display: none;
}

th a {
	font-weight: normal;
	color: #458AC6;
}

th a.asc , th a.desc {
	font-weight: bold;
}

th a.asc:after {
	content: ' ⇣';
}

th a.desc:after {
	content: ' ⇡';
}
